.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    padding: 28px 0;
    padding-top: 0;
    width: 100%;
    flex-grow: 1;
}

.breadcrumbs {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    gap: 16px;
    align-items: center;
    color: var(--breadcrumb-color);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2%;
    padding: 28px 180px;
}

.breadcrumbs span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 1100px) {
    .breadcrumbs {
        padding: 28px 80px;
    }
}

@media (max-width: 900px) {
    .breadcrumbs {
        padding: 28px 40px;
    }
}

@media (max-width: 768px) {
    .main-content {
        padding: 15px 0;
        padding-top: 0;
    }

    .breadcrumbs {
        gap: 12px;
        font-size: 12px;
        padding: 15px 24px;
    }

    .breadcrumbs svg {
        width: 12px;
        height: 12px;
    }
}