.theme-toggle {
    background: none;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 30px;
    cursor: pointer;
    width: 55px;
    height: 26px;
    padding: 3px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
}

.theme-toggle-track {
    width: 100%;
    height: 100%;
    position: relative;
}

.theme-toggle-thumb {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--theme-toggle-thumb-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform var(--transition-duration) ease;
}

.theme-toggle.light .theme-toggle-thumb {
    transform: translateX(29px);
}

.theme-toggle.dark .theme-toggle-thumb {
    transform: translateX(0);
}

.theme-toggle.light .theme-toggle-thumb svg {
    width: 17px;
    height: 17px;
}

.theme-toggle.dark .theme-toggle-thumb svg {
    width: 14px;
    height: 14px;
}

@media (max-width: 768px) {
    .theme-toggle {
        width: 47px;
        height: 22.22px;
        padding: 2.565px;
    }

    .theme-toggle.light .theme-toggle-thumb {
        transform: translateX(24.5px);
    }

    .theme-toggle.light .theme-toggle-thumb svg {
        width: 14px;
        height: 14px;
    }

    .theme-toggle.dark .theme-toggle-thumb svg {
        width: 12.45px;
        height: 12.25px;
    }

    .theme-toggle-thumb {
        width: 17.09px;
        height: 17.09px;
    }
}