.theme-toggle {
  background: none;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  cursor: pointer;
  padding: 2px;
  width: 50px;
  height: 26px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  transition: background-color var(--transition-duration);
}

.theme-toggle-track {
  width: 100%;
  height: 100%;
  position: relative;
}

.theme-toggle-thumb {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--theme-toggle-thumb-color);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform var(--transition-duration) ease;
}

.theme-toggle.light .theme-toggle-thumb {
  transform: translateX(24px);
}

.theme-toggle.dark .theme-toggle-thumb {
  transform: translateX(0);
}