@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}