.profile-content {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 180px;
}

.breadcrumbs .desktop-only {
    display: flex;
    gap: 16px;
    align-items: center;
}

.profile-header-card {
    display: flex;
    align-items: center;
    gap: 42px;
    padding: 16px 0 40px 0;
    border-bottom: 1px solid var(--hover-bg-color);
}

.profile-photo {
    width: 163px;
    height: 163px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--hover-bg-color);
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-placeholder {
    width: 100%;
    height: 100%;
    background-color: var(--breadcrumb-color);
    opacity: 0.2;
}

.profile-title-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-title-info h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}

.profile-position {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
}

.profile-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.tech-badge {
    background-color: var(--hover-bg-color);
    padding: 10px 21.5px;
    border-radius: 5px;
    font-size: 16px;
}

.mobile-only {
    display: none;
}

.profile-details {
    padding: 40px 0;
}

.profile-details h3 {
    font-size: 32px;
    margin-bottom: 32px;
    font-weight: 600;
}

.details-grid {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.details-row {
    display: flex;
    gap: 44px;
}

.details-label {
    font-size: 24px;
    font-weight: 500;
    width: 248px;
    flex-shrink: 0;
}

.details-value {
    font-size: 24px;
    font-weight: 400;
}

.profile-message,
.error-message {
    font-size: 32px;
    font-weight: 500;
    margin-top: 64px;
    text-align: center;
}

.error-message {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.error-message a {
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: opacity 0.1s ease;
}

.error-message a:hover {
    opacity: 0.7;
}

@media (max-width: 1100px) {
    .profile-content {
        padding: 0 80px;
    }
}

@media (max-width: 900px) {
    .profile-content {
        padding: 0 40px;
    }
}

@media (max-width: 768px) {
    .breadcrumbs .desktop-only, .desktop-only {
        display: none;
    }

    .profile-content {
        padding: 0;
    }

    .profile-header-card {
        gap: 16px;
        padding: 12px 24px;
        border-bottom: none;
    }

    .profile-photo {
        width: 100px;
        height: 100px;
    }

    .profile-title-info h2 {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .mobile-only {
        display: flex;
    }

    .profile-position {
        font-size: 14px;
        margin-bottom: 0;
    }

    .profile-stack {
        gap: 8px;
        border-bottom: 1px solid var(--hover-bg-color);
        padding: 0 24px 20px 24px;
    }

    .tech-badge {
        padding: 10px 17.5px;
        font-size: 12px;
    }

    .profile-details {
        padding: 20px 24px;
    }

    .profile-details h3 {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .details-grid {
        gap: 12px;
    }

    .details-row {
        gap: 18px;
    }

    .details-label {
        font-size: 14px;
        width: 145px;
    }

    .details-value {
        font-size: 14px;
    }

    .profile-message,
    .error-message {
        font-size: 16px;
        margin-top: 32px;
    }

    .error-message {
        gap: 8px;
    }
}