:root {
  --bg-color: #FFFFFF;
  --primary-color: #155DA4;
  --text-color: #292929;
  --hover-color: #F2F2F2;
  --breadcrumb-color: #B0B0B0;
}

[data-theme='dark'] {
  --bg-color: #292929;
  --primary-color: #155DA4;
  --text-color: #F5F5F5;
  --hover-color: #3E3E3E;
  --breadcrumb-color: #B0B0B0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}