.selected-filters-container {
  background-color: var(--hover-bg-color);
}

.selected-filters-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 180px;
}

.selected-filters-wrapper.empty {
  justify-content: flex-end;
}

.selected-filters-content {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.selected-filters-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}

.selected-filters-list {
  display: flex;
  gap: 23px;
  flex-wrap: wrap;
}

.selected-filter-tag {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: opacity 0.3s;
}

.selected-filter-tag:hover {
  opacity: 0.9;
}

.search-btn {
  background-color: var(--primary-color);
  color: var(--theme-toggle-thumb-color);
  border: none;
  padding: 12px 48px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 2%;
  transition: opacity 0.3s;
}

.search-btn:hover {
  opacity: 0.9;
}

@media (max-width: 1100px) {
  .selected-filters-wrapper {
    padding: 13px 80px;
  }
}

@media (max-width: 900px) {
  .selected-filters-wrapper {
    padding: 13px 40px;
  }
}

@media (max-width: 768px) {
  .selected-filters-wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;
    gap: 16px;
  }

  .selected-filters-content {
    gap: 12px;
  }

  .selected-filters-title {
    font-size: 14px;
  }

  .selected-filters-list {
    gap: 16px;
  }

  .selected-filter-tag {
    font-size: 12px;
  }

  .search-btn {
    width: 100%;
    border-radius: 4px;
    padding: 6px 28px;
    font-size: 12px;
  }
}