.filter-dropdown-wrapper {
    position: relative;
    display: inline-block;
}

.filter-dropdown-btn {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}

.filter-dropdown-btn.active {
    color: var(--primary-color);
    font-weight: 500;
}

.filter-dropdown-btn svg {
    width: 19px;
    height: 9px;
}

.filter-dropdown-menu {
    position: absolute;
    top: calc(100% + 8px);
    background-color: var(--bg-color);
    border-top: 1px solid var(--primary-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 267px;
    padding: 20px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 16px;
    right: 0;
    transform: translateX(0);
}

.filter-dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color var(--transition-duration);
}

.filter-dropdown-item input {
    display: none;
}

.custom-checkbox {
    width: 19px;
    height: 19px;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    cursor: pointer;
}

.filter-dropdown-item input:checked+.custom-checkbox {
    background-color: var(--primary-color);
}

.custom-checkbox svg {
    width: 13px;
    height: 10px;
}

@media (max-width: 768px) {
    .filter-dropdown-menu {
        width: 224px;
        gap: 12px;
        top: calc(100% + 7px);
    }

    .filter-dropdown-wrapper.align-left .filter-dropdown-menu {
        left: 0;
        right: auto;
        transform: none;
    }

    .filter-dropdown-wrapper.align-center .filter-dropdown-menu {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

    .filter-dropdown-wrapper.align-right .filter-dropdown-menu {
        right: 0;
        left: auto;
        transform: none;
    }

    .filter-dropdown-btn {
        font-size: 12px;
    }

    .filter-dropdown-btn svg {
        width: 11px;
        height: 6px;
    }

    .filter-dropdown-item {
        font-size: 12px;
    }
}