.not-found-title {
  font-size: 36px;
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
  margin-top: 100px;
}

@media (max-width: 768px) {
  .not-found-title {
    font-size: 28px;
  }
}