.header {
  border-bottom: 1px solid var(--hover-bg-color);
  padding: 16px 0;
}

.header-container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-contacts {
  display: flex;
  gap: 16px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .header-contacts {
    display: none;
  }
  .header-container {
    padding: 0 16px;
  }
  .header-logo-img {
    width: 52px;
  }
}