.header {
    box-shadow: var(--header-shadow);
    padding: 25px 0 24px 0;
}

.header-container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-img {
    height: 41px;
    display: block;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 48px;
}

.header-contacts {
    display: flex;
    gap: 64px;
    font-size: 18px;
}

@media (max-width: 1100px) {
    .header-container {
        padding: 0 80px;
    }
}

@media (max-width: 900px) {
    .header-container {
        padding: 0 40px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 16px 0;
    }

    .header-container {
        padding: 0 24px;
    }

    .header-contacts {
        display: none;
    }

    .header-logo-img {
        height: 22px;
    }
}